/* [Reset] */
* {
	margin: 0;
	padding: 0;
}

/* [Global Settings] */
body {
	color: #542;
	font-size: 80%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Trebuchet MS", "Trebuchet", "Arial",sans-serif;
	line-height: 140%;
	background: #AD9263;
	margin-bottom: 20px;
}
div {
}
p {
	margin-bottom: 1.5em;
}
img {
	border: 0;
}
a {
	color: #FFF;
	text-decoration: underline;
	font-weight: bold;
}
a:active,
a:hover {
	color: #FFF;
	text-decoration: underline;
}
ul {
	list-style: none;
}
strong {
	font-weight: bold;
	color: #000;
}
.clear {
	font-size: 1px;
	line-height: 1px;
	clear: both;
}

/* [Layout] */
#wrapper {
	padding-bottom: 30px;
}
#header {
	width: 480px;
	height: 83px;
	margin: 25px auto 25px auto;
	text-align: center;
}
#navi {
	width: 320px;
	height: 15px;
	margin: 0 0 28px 405px;
}
#navi ul {
	width: 320px;
}
#navi li {
	float: left;
	padding: 0 3px 0 0;
}
#contents {
	width: 800px;
	margin: 0 auto 0 auto;
}

.date {
	color:#000;
	font-weight: bold;
	font-family: "Helvetica", "Arial", sans-serif;
}
h2 {
	font-size: 120%;
	padding-bottom: 5px;
	margin-bottom: 20px;
	border-bottom: 1px solid #542;
	color: #000;
}
h3 {
	font-size: 100%;
	margin-bottom: 3px;
	text-align: left;
}
.form_container {
	padding-bottom: 15px;
}
select {
	width: 100px;
	margin-bottom: 5px;
}
input {
	margin-bottom: 5px;
}
input.textfield {
	width: 350px;
}
input.timefield {
	width: 60px;
}
textarea {
	width: 744px;
}
#total {
	margin-bottom: 5px;
}
.pagenum {
	width: 130px !important;
	width: 150px;
	padding: 2px 10px;
	margin-bottom: 20px;
	background-color: #9B8359;
	font-size: 80%;
	color: #000;
	float: left;
}
.pagenavi {
	width: 210px !important;
	width: 230px;
	padding: 2px 10px;
	margin-bottom: 20px;
	background-color: #9B8359;
	font-size: 80%;
	float: right;
	text-align: right;
}
.itemlist {
	padding-bottom: 15px;
	border-bottom: 1px solid #9B8359;
}
th {
	text-align: left;
}

#menu {
	text-align: center;
	font-size: 120%;
	margin-bottom: 10px;
}

#menu strong {
	font-size: 150%;
}
